h1 {
  @apply text-3xl sm:text-5xl;
  letter-spacing: 0.005em;
}

h2 {
  @apply text-2xl font-bold sm:text-3xl;
}

h3 {
  @apply pb-2 text-xl font-medium sm:text-2xl;
}

a {
  @apply font-medium cursor-pointer hover:text-yellow-300;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.highlight {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: theme("colors.yellow.300");
  text-decoration-thickness: 1.5px;
  text-underline-offset: 1.5px;
}
